<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name='name' value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(e => {%>
    <div> <%= e.name  %> </div>
    <a href="/authors/<%= e.id %>">View</a>
    <a href="/authors/<%= e.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/authors/${e.id}`}) %> 
    <br>
<% }) %> 